{% load static %} {% load bootstrap4 %}

<!-- START: I wrote the code based on documentation and references. Important links were included in the comments next to each function. # Please review links below and short commentary in readme.txt. Thank you. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% bootstrap_css %} {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
</body>

</html>
<!-- END: I wrote the code based on documentation and references. Important links were included in the comments next to each function. # Please review links below and short commentary in readme.txt. Thank you. -->